# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg

# Environment Variables
.env
.env.local
client/.env
client/.env.production

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS specific
.DS_Store
Thumbs.db

# Vercel
.vercel